@import "tailwindcss";

@theme{
    --color-primary:#040C18;
    --color-gradient-color:#002853;
    --color-footer-primary:#031B34;
    --color-text-color:#81AFDD;
    --color-input-color:#052D56;
    --color-whatisgpt:#0F4276;
    --color-whatisgpt-second:#0F4285;
}